











/* banner-section */
.banner-section{
    background:#f9f9ff;
    padding: 30px;
}
.banner-caption{
    position: relative;
    top: 150px;
    left: 0px;
}
.banner-caption h4{}
.banner-caption h1{
    font-size: 55px;
}
.banner-caption p{
    font-size: 19px;
}

.banner-caption .btn {
    background: #8492ff;
    color: #fff;
    font-weight: 600;
}

/* about-section */
.about-section{
    padding: 40px;
}
.about-img img{
    border: 1px solid #ddd;
}
.about-caption {
    position: relative;
    top: 70px;
    left: 0px;
}
.about-caption h5{}
.about-caption h1{
    font-size: 50px;
}
.about-caption p{
    font-size: 19px;
}

.about-caption .btn{
    background:#8490ff;
    color: #fff;
    font-weight: 600;
}
/* counter-section */
.counter-section{
    background: #8490ff;
}

/* service-section */
.service-section{
    background: #f9f9ff;
    padding: 50px;
}

.service-caption {
    background: #fff;
    padding: 50px 0px;
    box-shadow: 0px 0px 6px 0px rgb(132 144 255 / 50%);
}
.service-caption h1{}
.service-caption h4{}
.service-caption span {
    font-size: 17px;
    color: #787879;
    font-weight: 600;
}
.service-caption p {
    font-size: 22px;
    color: #787879;
    margin: 30px 0px;
}

.service-caption .btn {
    color: #677fe2;
    font-weight: 700;
    box-shadow: 0px 0px 26px 0px rgb(132 144 255 / 50%);
    border: 2px solid #677fe2;
}
.service-caption .btn:hover{
    background:#677fe2;
    color: #fff;
}
.test {
    display: inline-block;
    background: #f9f9ff;
    padding: 38px;
    border-radius: 50%;
    margin: 3px 0px;
}


/* biodata-section */
img{
    max-width: 100%;
}
.biodata-section{
    padding: 50px;
}
.bio-img{}
.bio-img img {
    position: relative;
    top: 40px;
    left: 18px;
    width: 100px;
}
.bio-content {
    padding: 37px;
    box-shadow: 0px 0px 26px 0px rgb(0 0 0 / 26%);
}
.bio-content h2{}
.bio-content span{
    font-weight: 500;
}
.bio-content p {
    font-size: 19px;
    font-weight: 400;
}

.bio-content .btn {
    color: #000;
    box-shadow: 0px 0px 21px 0px rgb(0 0 0 / 38%);
    border: none;
}

/* form-section */

.form-section{
    background:#f3f4fd;
    padding: 40px;
}
.form-header{
    
}
.form-header p {
    font-size: 19px;
    font-weight: 500;
}
.form-header h1{}

.b-form{
    background:#fff;
}
.b-form h2{}
.b-form .btn {
    background: #17a2b8;
    font-size: 20px;
    font-weight: 500;
}
